/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: Arial, Verdana;
	background-color: #000000;
	color: #ffffff;
	margin: 20px 20px 0px 20px;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 42px;
	text-align: center;
	padding: 15px;
}

h2{
	font-size: 30px;
	color: #0D0D0D
}

p{
	font-size: 24px;
	padding: 10px 0px 0px 10px;
}

img{
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px dashed #ffffff;
}

main > div{
	min-height: 125px;
	padding: 20px;
	border: 3px solid #ffffff;
}

/*Style the images*/
.introduction{
	border-radius: 15px;
	margin-top: 15px;
	line-height: 2;
}

.red{
	background-color: #FF0000;
	text-align: right;
	margin-left: 50px;
	border-width: 0 0 2px 5px;
}

.blue{
	background-color: #0000FF;
	margin-right: 50px;
	border-width: 2px 5px 0 0;
	color:#C4C4C4
}

.blue h2{
	color:#C4C4C4
}

.yellow{
	background-color: #ffff00;
	text-align: right;
	margin-left: 50px;
	border-width: 0 0 2px 5px;
}

.yellow p{
	color: #707070
}

.green{
	background-color: #008500;
	margin-right: 50px;
	border-width: 2px 5px 0 0;
}

footer{
	background-image:linear-gradient(to right,#000000, #0000ff 25%, #0066ff 70%, #000000);
	border: 5px solid #ffffff;
}

footer p{
	font-size: 20px;
	text-align: right;
	padding: 15px 15px 15px 0px;
}

