/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: Arial, Verdana;
	background-color: #000000;
	color: #ffffff;
	margin: 20px 20px 0px 20px;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 42px;
	text-align: center;
	padding: 15px;
}

h2{
	font-size: 30px;
	color: #0D0D0D
}

p{
	font-size: 24px;
	padding: 10px 0px 0px 10px;
}

img{
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: dashed #ffffff 10px;
}

main > div{
	min-height: 125px;
	padding: 20px;
	border: solid #ffffff 3px;
}

/*Style the images*/
div.introduction{
	border-radius: 15px;
	margin-top: 15px;
	line-height: 2;
}

div.red{
	background-color: #FF0000;
	text-align: right;
	margin-left: 50px;
	border: 0px 0px 2px 5px;
}

div.blue{
	background-color: #493CFA;
	margin-right: 50px;
	border: 2px 5px 0px 0px;
	color: #c4c4c4
}

div.yellow{
	background-color: #ffff00;
	text-align: right;
	margin-left: 50px;
	border: 0px 0px 2px 5px;
	color: #707070
}

div.green{
	background-color: #08752D;
	margin-right: 50px;
	border: 2px 5px 0px 0px;
}

footer{
	background-image:linear-gradient(to right,#000000, #0000ff 25%, #0066ff 70%, #000000);
	border: solid 5px #ffffff;
}

footer p{
	font-size: 20px;
	text-align: right;
	padding: 15px 15px 15px 0px;
}

